*{
  margin: 0px;
  padding: 0px;
  
}
.App {
  text-align: center;
}


.navbar{
  width: 80%;
  margin: auto;
  background-color: skyblue;
  color: yellow;
  border: 3px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  line-height: 50px;
}

.body{
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 20px auto;
  border: 3px solid black;
  border-radius: 10px;
  font-size: 20px;
  background-color: skyblue;
  font-weight: bold;
  height: 50vh;
  box-shadow: 5px 5px 5px black;
}
input{
  border: 3px solid black;
  border-radius: 5px;
  height: 2vh;
  margin-left: 10px;
  padding: 5px;
  font-family: 'Lobster', cursive;
}
button{
  width: 7vw;
  height: 2.5vw;
  margin: 10px auto;
  font-weight: bolder;
  background-color: royalblue;
  color: aliceblue;
  border-radius: 10px;
  margin-top: 20px;
}

.Index{
  display: none;
  margin-top: 30px;
  font-family: 'Lobster', cursive;

}

label{
  display: block;
  margin-bottom: 7px;
}